/*
COLOR PALETTE
https://coolors.co/ca054d-ddfff7-f0b67f-fe5f55-d6d1b1
#CA054D - Pictorial Carmine
#DDFFF7 - Light Cyan
#F0B67F - Middle Yellow Red
#FE5F55 - Orange Red Crayola
#D6D1B1 - Dutch White
#343434 - Dark Gray
#FDFFF7 - Mint Cream
#FFED65 - Corn
*/

/* Global styles
-------------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #FFED65;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 75px;
}
h2 {
    font-size: 35px;
}
h1, h2 {
    font-family: 'Patua One', cursive;
    font-weight: 400px;
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile
-------------------------------------*/
header {
    background-color: #CA054D;
    color: #FDFFF7;
}

/* Projects
-------------------------------------*/
.project {
    background-color: #FDFFF7;
}
.project a {
    color: #CA054D;
}
.project .btn {
    color: #FDFFF7;
    background: #CA054D;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.project .btn:hover {
    background: rgba(202, 5, 77, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin-right: 20px;
    height: 201px; 
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
-------------------------------------*/
.work-experience {
    background-color: #DDFFF7;
}

/* Education
-------------------------------------*/


/* Contact Info
-------------------------------------*/
footer {
    background-color: #343434;
    color: #FDFFF7;
}